# Dependencies
node_modules/

# Environment variables
.env
.env.local
*.local

# Build output
dist/
dist-ssr/

# Uploaded files (jaga struktur folder, jangan commit isinya)
backend/src/uploads/**/*
!backend/src/uploads/**/.gitkeep

# Logs
*.log
npm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
